@import url("./normalize.css");
@import url("./fonts.css");

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    margin: 0;
}
img{
    object-fit: cover;
}
html{
    height: 100%;
    font-size: 62.5%;
}
body{
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 1.625;
    color: #fff;
    font-weight: 500;
    background-color: #FF7979;
    background-image: url("../images/bg-intro-desktop.png");
    background-position: center;
    background-repeat: repeat;
    display: grid;
    place-items: center;
}
main{
    display: flex;
    align-items: center;
    gap: 45px;
}
.content{
    width: 100%;
    max-width: 522px;
}
.content__title{
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 1.1rem;
}
.form-content{
    width: 100%;
    max-width: 540px;
}
.form__suggest{
    width: 54rem;
    padding: 1.7rem 11.2rem;
    background-color:#5E54A4;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2.4rem;
    font-weight: 400;
    box-shadow: 0 .8rem 0 #00000025;
    line-height: 1.7;
}
.form__suggest b{
    line-height: 1.7;   
    letter-spacing: 0.027rem;
}
.form{
    padding: 4rem;
    border-radius: 1rem;
    background-color: #fff;
    color: #3D3B48;
    box-shadow: 0 .8rem 0 #00000025;
}
.form-content__input{
    width: 46rem;
    height: 5.6rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    letter-spacing: 0.025rem;
    padding-left: 3.2rem;
    outline: none;
    border: 1px solid #DEDEDE;
    color: #3D3B48;
    font-weight: 600;
    cursor: pointer;
}
.form-content__input:focus{
    outline: auto;
    outline-color: #5E54A4;
}
.form-content__input::placeholder{
    color: rgba(61, 59, 72, 75%);
}

.form button{
    width: 46rem;
    height: 5.6rem;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    border-radius: .5rem;
    font-weight: 600;
    background-color: #38CC8B;
    line-height: 1.7;
    border:none ;
    color: #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #00000017;
    margin-bottom: 0.8rem;
    cursor: pointer;
}
.terms-and-services{
    font-size: 1.1rem;
    line-height: 2.3;
    font-weight: 500;
    color: #BAB7D4;
    text-align: center;
}
.terms-and-services a{
    font-weight: 700;
    color: #FF7979;
}





@media screen and (max-width:1068px){
    .main{
        flex-direction: column;
        text-align: center;
    }
}




































